.small {
    position: relative;
}

a.btn {
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    font-size: 18px;
}

table {
    margin-bottom: 20px;
    width: 100%;
}

table th {
    background: #ededed;
    text-align: center;
}

table th, table td {
    padding: 5px;
}

table td {
    text-align: left;
    font-size: 12px;
}

table td:first-child {
    width: 20%;
}

table .td-title {
    font-weight: bold;
    font-size: 14px;
}

.url-input {
    width: 90%;
    padding: 5px;
    color: #888;
    font-size: 11px;
    border: none;
    border-bottom: 1px dotted #cecece;
}

.url-input:hover {
    border: 1px dotted #e0e0e0;
}

.url-input:focus {
    outline:0;
}